html,
body,
header,
#intro {
    height: 100%;
}
body{
  background-color: rgb(222, 228, 214);
}
#intro {
    /* background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("")no-repeat center center fixed; */
    background-color: rgb(222, 228, 214);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#intro2 {
height: 100%;
/* background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://img.freepik.com/fotos-premium/fondo-azul-lineas-azules_591496-90.jpg"); */
  background-color: rgb(222, 228, 214);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}


.bg-light{
  background-color: #1f2020;
  background-color:#1f2020 !important;
  /* transition:0.5s ease; */
  transition: all ease-in-out 0.9s;
  }

.bg-light.scrolled{
  /* background-color: #b2ebf2 !important; */
  background-color: #1f2020 !important;
  transition: all ease-in-out 0.7s;
}


.navbar-light .navbar-nav .nav-link {
    /* color: #ff5722; */
}

.navbar-light .nav-link {
    /* color: #ff5722; */
}


.navbar-expand-lg {
   
    background-color: #1f2020;
   
  }
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      /* background-color: #b2ebf2; */
      background-color: #1f2020
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      /* background-color: #b2ebf2; */
      background-color: #1f2020
    }
  }

.text-white{
  color: white;
}

hr{
  border-color: inherit;
}

.btn-outline-white{
  border-color: cyan;
  
}

.event-mask{
  position:relative;
  left:auto;
  bottom:auto;
  text-align: center;
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  transform: translate(0, -100%);
}

#event-section {
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://ak.picdn.net/shutterstock/videos/1012738781/thumb/1.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.full-width{
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.info-header{
  height: 70%;
}

#page-intro {
    height: 100%;
}
#page-intro {
    height: 100%;
}

#page-intro {
    /* background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://us.123rf.com/450wm/iimages/iimages1502/iimages150200945/36769904-ilustraci%C3%B3n-de-un-aula-vac%C3%ADa-con-una-tabla.jpg")no-repeat center center fixed; */
    background-color: rgb(222, 228, 214);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/* breadcrumb class */
/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: transparent;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: #ff5722;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: white;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #b2ebf2;
  text-decoration: underline;
}

.disabled-text{
  color: gray;
}

/* bradcrumb class over */



.card-std{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 14px 14px 14px;
    cursor:default;
}

.card-std:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(200,0,0,.12), 0 4px 8px rgba(200,0,0,.06);
}

.box-shadow-hover:hover{
  box-shadow: 0 2px 40px 0 rgba(100, 0, 0, 0.16), 0 2px 10px 0 rgba(100, 0, 0, 0.12);
}

/* get lesson button */
.button-les {
  border-radius: 4px;
  background-color: #1f2020;
  /* background-color: #00bcd4; */
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  width: 180px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button-les span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-les span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-les:hover span {
  padding-right: 25px;
}

.button-les:hover span:after {
  opacity: 1;
  right: 0;
}

/* index */

.carrusel-index{
  margin-left:0px;
  width: 100%;
}

.carrusel-index>h1{
  color: black;
  font-size:3rem;
  margin-top: 10rem;
  margin-bottom: -2rem;
}
.carrusel-index p{
  color: black;
  font-size: 1.5rem;
  margin-top: -2rem;
}

.anuncios-mision-vision{
  color:black;
}

.niveles-cursos{
  color: black;
  font-size: 1.5rem ;
}


/* formularios contacto y registro usuario */
.formulario-contacto-mensaje{
  display: flex; 
  justify-content: center;
  margin-top: 2rem;
  opacity:0.9;
  width: 60%;
  border-radius: 0rem;
  border:10px double  black;
}

.formulario-registro-usuario{
  width: 40%;
  height: 100%; 
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background-color: bisque;
}

/* responsive video */
#player-overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background-color: #000;
  z-index: 999;
}

video {
  display: block;
  width: 100%;
  height: 100%;
}
/* responsive video */
#class-time-table{
  margin-left:auto !important;
  margin-right:auto !important;
}
#class-time-table, #class-time-table th, #class-time-table td{
  border:1px solid black;
}
#class-time-table td{
  padding: 5px 10px;
}


/* usuarios yFormulario de registro   */


/* flecha */

#intro2 .base-flecha{
  width: 100% ;
  height: 10%; 
  margin-top: 10rem;
}

.inicio-flecha{
  width: 100%;
  height: 100%; 
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center ;
  margin-bottom: 0rem;
}

.formulario-registro ul{
  display: none;
}
.formulario-registro small{
  display: none;
}

.formulario-registro input{
  /* height: 30px; */
}

.formulario-registro label{
  font-size: 0.8rem;
}
.formulario-registro #div_id_password2 label{
  display: none;

}

.formulario-registro #id_password2{
  margin-top: 1rem;

}


.base-formulario-registro{
  display: flex; 
  justify-content:center;
  margin-top: 3rem;
  opacity:0.9;
  width: 60%;
  border-radius: 0rem;
  border:10px double black;
  height: 70%;
}

.footer-formulario-base{
  
  background-color: rgb(222, 228, 214);
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 30%;
}


.asteriskField {
  display: none;
  
}

.boton-agregar{
  width: 10%;
}

/* actualzar capitulo */

.actualizar-capitulo #id_position{
  width: 30%;

}
.actualizar-formulario{

  width: 30%;
  background-color: white;
  height: 470px;
  border:10px double black;
}

.actualizar-formulario-usuarios{

  width: 30%;
  background-color: white;
  height: 720px;
  border:10px double black;
}
.actualizar-formulario-usuarios  input{

  width: 100%;

}
.actualizar-formulario-usuarios  textarea{

  width: 100%;

}
.actualizar-formulario-usuarios  label{

  font-weight: 700;

}


.thumb {
  height: 100px;
  width: 100px;
  border: 1px solid #000;
  margin: 10px 5px 0 0;
}
@media (width <= 1450px ) {
  
  .base-formulario-registro {
    display: flex; 
    justify-content:center;
    margin-top: 2rem;
    opacity:0.9;width: 60%;
    border-radius: 0rem;
    border:10px double black;
    height: 110%;
    width: 90%;
  }

  .footer-formulario-base{
  
    /* background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://img.freepik.com/fotos-premium/fondo-azul-lineas-azules_591496-90.jpg')no-repeat center center fixed;  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    height: 45%;
  }
  #intro2 .base-flecha{
    width: 100% ;
    height: 10%; 
    margin-top: 14rem;
  }
  
  .boton-agregar{
    width: 15%;
  }
  .formulario-contacto-mensaje{
    display: flex; 
    justify-content: center;
    margin-top: 17rem;
    opacity:0.9;
    width: 70%;
    border-radius: 0rem;
    border:10px double  black;
    
  }
  #id_user_type{
    width: 30%;
  }

  .footer-formulario-base{
  
    height: 42%;
  }

  #intro2 .base-flecha{
    width: 100% ;
    height: 10%; 
    margin-top: 20rem;
  }
  .actualizar-formulario{
  
    width: 40%;
    background-color: white;
    height: 500px;
    border:10px double black;
  }

  .actualizar-formulario-usuarios{

    width: 50%;
    background-color: white;
    height: 720px;
    border:10px double black;
  }
  
}
