{% extends 'base.html' %}

{% load static %}
{% load operation %}
{% load crispy_forms_tags %}

{% block title %}Crear capitulos {% endblock %}

{% block image_block %}
<header class="" style="height: 20vh;">
  <div id="" class=" ">
  </div>
</header>
{% endblock %}

{% block content %}
  
  {% comment %} <div style="width: 100% ;height: 10%; margin-top: 0rem;margin-bottom: 0rem;" class="d-flex  justify-content-center mb-2">
    <div style="width: 90%; " class="d-flex justify-content-start">
      <a class="navbar-brand color_encabezado" href="{% url 'curriculum:slots_list' %}" ><img class="logos-nav" style="width: 100px" src="https://cdn-icons-png.flaticon.com/512/5093/5093116.png" alt="Niveles"></a>         
    </div>    
  </div> {% endcomment %}
  <div style="height: 100px;"></div>
  <p class="text-center" style="font-size: 2rem;font-weight: 300;"><strong>Agregar un nuevo horario  </strong></p>
  <section class="gradient-custom w-100" style="">
    <div class="container my-5 py-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-lg-10 col-xl-8">
          
            <div class="d-flex row justify-content-center">
              <form method="post" enctype="multipart/form-data" style="width: 60%;background-color: white;height: 270px; border:10px double black;">
                <div class="form-group d-flex row justify-content-center mt-4">
                {% csrf_token %}
                {{form|crispy}}
                <input class="btn btn-success btn-lg btn-block "  style="width: 25%; margin-top: 2rem;margin-bottom: 1rem;"type="submit" value="Crear">
                <span style="width: 8%;"></span>
                <a class="btn btn-info btn-lg btn-block " href="{% url 'curriculum:slots_list'  %}" class="btn btn-danger btn-block" style="width: 25%; margin-top: 2rem;margin-bottom: 1rem;"><span style="text-center">Cancelar</span></a>
                </div>
              </form>
          
             </div>
        </div>
      </div>
    </div>
  </section>
  <div style="height: 100px;"></div>
{% endblock %}