{% extends 'base.html' %}

{% load static %}
{% load operation %}
{% load crispy_forms_tags %}

{% block title %}Crear capitulos {% endblock %}
{% load operation %}
{% block image_block %}
<header class="" style="height: 20vh;">
  <div id="" class=" ">
  </div>
</header>
{% endblock %}

{% block content %}
  
  <div style="width: 100% ;height: 10%; margin-top: 0rem;margin-bottom: 0rem;" class="d-flex  justify-content-center mb-2">
    <div style="width: 90%; " class="d-flex justify-content-start">
      <a class="navbar-brand color_encabezado" href="{% url 'curriculum:slots_list' %}" ><img class="logos-nav" style="width: 100px" src="https://cdn-icons-png.flaticon.com/512/5093/5093116.png" alt="Niveles"></a>         
    </div>    
  </div>
  <p class="text-center" style="font-size: 2rem;font-weight: 300;"><strong>Editar el horario del curso {{slotsSubjectt.slot_subject.name}} </strong></p>
  <section class="gradient-custom w-100" style="">
    <div class="container my-5 py-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-lg-10 col-xl-8">
          
            <div class="d-flex row justify-content-center">
              <form id="formularioSlots" method="POST" action="/curriculum/list/slots/edit/view/"  style="width: 60%;background-color: white;height: 470px; border:10px double black;">
                <div class="form-group d-flex row justify-content-center mt-4">
                {% csrf_token %}
                
                <input type="hidden" id ="id" name="id" value="{{slotsSubjectt.id}}">
                <div class="d-flex flex-column align-items-center">
                  <select name="day" id="day" style="width: 40%;" >
                    <option value="{{slotsSubjectt.day.id}}" selected >dia actual : {{slotsSubjectt.day.id|idDia}}</option>
                    <option value="1">Lunes</option>
                    <option value="2" >Martes</option>                
                    <option value="3">Miercoles</option>
                    <option value="4" >Jueves</option>                
                    <option value="5" >Viernes</option>                
                  </select>
                  <div style="height: 130px;"></div>
                  <select name="slot" id="slot" class="select form-control" style="width: 50%;"> 
                    <option value="0"> horario actual: {{slotsSubjectt.slot.start_time|formatoHora}}--{{slotsSubjectt.slot.end_time|formatoHora}}</option> 
                    <option value="1">8 a.m -- 9 a.m.</option> 
                    <option value="2">9 a.m -- 10 a.m.</option> 
                    <option value="3">10 a.m -- 11 a.m.</option> 
                    <option value="4">11 a.m -- 12 a.m.</option> 
                    <option value="5">12 m -- 13 p.m.</option> 
                    <option value="6">13 p.m -- 14 p.m.</option> 
                    <option value="7">14 p.m -- 15 p.m.</option>
                  </select>
                  <div style="height: 130px;"></div>
                </div>


                {% comment %} <select name="day" id="day" style="width: 30%;" >
                  <option value="{{slotsSubjectt.day}}">valor actual : {{slotsSubjectt.day|renombrar}}</option>
                  <option value="Monday">Lunes</option>
                  <option value="Tuesday" selected>Martes</option>                
                  <option value="Wednesday" selected>Miercoles</option>                
                  <option value="Thursday" selected>Jueves</option>                
                  <option value="Friday" selected>Viernes</option>                                              
                </select> {% endcomment %}


                <input class="btn btn-success btn-lg btn-block "  style="width: 25%; margin-top: 2rem;margin-bottom: 1rem;"type="submit" value="Actualizar">
                <span style="width: 8%;"></span>
                <a class="btn btn-info btn-lg btn-block " href="{% url 'curriculum:slots_list'  %}" class="btn btn-danger btn-block" style="width: 25%; margin-top: 2rem;margin-bottom: 1rem;"><span style="text-center">Cancelar</span></a>
                <input type="hidden" name="next" value="/curriculum/horarios">  
                </div>
              </form>
          
             </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}