  {% extends 'base.html' %}
  {% load static %}
  {% load operation %}
  
  {% block title %} Niveles {% endblock %}


  {% block image_block %}
  <header class="info-header" >
    {% comment %} <div id="page-intro" class="container-fluid d-flex align-items-center justify-content-center ">
      <div class="row d-flex justify-content-center text-center">
        <div class="col-md-10 text-white">
          
          <h2 class="display-4 font-weight-bold  p-5 " style="color:#ff5722;" >  </h2>
          <div class="row d-flex justify-content-center text-center">
            <ul class="breadcrumb">
              <li><a href="{% url 'index' %}">Inicio</a></li>
              <li><a href="{% url 'curriculum:standard_list' %}">Curriculum</a></li>
              <li class="disabled-text" >{{standards.name}}</li>
            </ul>
          </div>

          
          <hr style="color:#ff5722;">

          
          <h4 class="white-text my-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Deleniti
                    consequuntur.</h4>
    </div>  {% endcomment %}

    <div id="page-intro" class="container-fluid d-flex align-items-center justify-content-center">
      <div class="row d-flex justify-content-center text-center " style="width: 20%; justify-self: center;align-self: center;margin-top: 5rem;">
        <div id="carouselExample" class="carousel slide" style=" margin-left:0px;width: 100%;">
          {% comment %} <h1 style="color: white;font-size:3rem;margin-top: 10rem;margin-bottom: -2rem;">Bienvenidos a escuela online</h1> {% endcomment %}
          <div class="carousel-inner " style="width: 100%;">
            {% for subject in standards.subjects.all %}
              {%if forloop.first%}
                <div class="carousel-item active">
                  <img style="width:250px;height: 250px;"src="{{subject.image.url|default_if_none:'#'}}"  alt="nueva">
                  <p style="color: white;font-size: 1.5rem ;">{{subject.name}}</p>
                </div>
              {%else%}
                <div class="carousel-item">
                  <img style="width:250px;height: 250px;"src="{{subject.image.url|default_if_none:'#'}}" alt="nueva imagen2">
                  <p style="color: white;font-size: 1.5rem ;">{{subject.name}}</p>
                </div> 
              {% endif %}
            {% endfor %}         
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
      </div>
    </div>
  </header>
  {% endblock %}

  {% block content %}
  <div style="width: 10% ;height: 100%; margin-top: 2rem;margin-bottom: -4.4rem;" class=" row d-flex  justify-content-center">
    <div>
      <a class="navbar-brand color_encabezado" href="{% url 'curriculum:standard_list' %}" ><img class="logos-nav" src="https://cdn-icons-png.flaticon.com/512/5093/5093116.png" alt="Niveles"></a> 
    </div>
  </div>
  <section id="best-features" class="text-center">
                <h2 class="mb-5 mt-5 font-weight-bold" style="color:black;font-size: 2.4rem;">{{standards.name}}</h2>
                {% comment %} <h2>{{standard.id|multiplicar}}</h2> {% endcomment %}

          
                <!-- class row for description-->
                <div class="row d-flex justify-content-center mb-4">
                  <!-- class column -->
                  <div class=" mb-5">
                    <p class="grey-text">{{standards.description}}</p>
                  </div>
                </div>
                <div class="col-md-12 justify-content-center mb-5">
                  <h4 class="card-title mb-3" style="color:black;font-size: 2.4rem;">Horario de clases</h4>
                  <table id="class-time-table" class="tabla-encabezado">
                    <tr>
                      <th></th>
                      {% comment %} {% for slot in slots %}
                      <th scope="row">{{slot.start_time }}</th>
                      {% endfor %} {% endcomment %}
                      <th scope="row">8 a.m.</th>
                      <th scope="row">9 a.m.</th>
                      <th scope="row">10 a.m.</th>
                      <th scope="row">11 a.m.</th>
                      <th scope="row">12 m.</th>
                      <th scope="row">1 p.m.</th>
                      <th scope="row">2 p.m.</th>
                    </tr>
                    <tr>
                      <th>Lunes</th>
                      {%for slot in standards.standard_slots.all%}
                      {%if slot.day.id == 1 %}
                      <td  style="background-color: hsl({{slot.slot_subject.id | multiplicar }}, 71%, 82%);" >{{slot.slot_subject}}</td>
                        {% comment %} <td  class={{"curso-"}}{{standards.id}}{{slot.slot_subject.id}}>{{slot.slot_subject}}</td> {% endcomment %}
                      {% endif %}
                      {% endfor %}
                    </tr>
                    <tr>
                      <th>Martes</th>
                      {%for slot in standards.standard_slots.all%}
                      {%if slot.day.id == 2 %}
                        {% comment %} <td class={{"curso-"}}{{standards.id}}{{slot.slot_subject.id}}>{{slot.slot_subject}}</td>  {% endcomment %}
                        <td  style="background-color: hsl({{slot.slot_subject.id | multiplicar }}, 71%, 82%);" >{{slot.slot_subject}}</td>
                      {% endif %}
                      {% endfor %}
                    </tr>
                    <tr>
                      <th>Miercoles</th>
                      {%for slot in standards.standard_slots.all%}
                      {%if slot.day.id == 3 %}
                        {% comment %} <td class={{"curso-"}}{{standards.id}}{{slot.slot_subject.id}}>{{slot.slot_subject}}</td>  {% endcomment %}
                        <td  style="background-color: hsl({{slot.slot_subject.id | multiplicar }}, 71%, 82%);" >{{slot.slot_subject}}</td>
                      {% endif %}
                      {% endfor %}
                    </tr>
                    <tr>
                      <th>Jueves</th>
                      {%for slot in standards.standard_slots.all%}
                      {%if slot.day.id == 4 %}
                        {% comment %} <td class={{"curso-"}}{{standards.id}}{{slot.slot_subject.id}}>{{slot.slot_subject}}</td> {% endcomment %}
                        <td  style="background-color: hsl({{slot.slot_subject.id | multiplicar }}, 71%, 82%);" >{{slot.slot_subject}}</td>
                      {% endif %}
                      {% endfor %}
                    </tr>
                    <tr>
                      <th>Viernes</th>
                      {%for slot in standards.standard_slots.all%}
                      {%if slot.day.id == 5 %}
                        {% comment %} <td class={{"curso-"}}{{standards.id}}{{slot.slot_subject.id}}>{{slot.slot_subject}}</td>  {% endcomment %}
                        <td  style="background-color: hsl({{slot.slot_subject.id | multiplicar }}, 71%, 82%);" >{{slot.slot_subject}}</td>
                      {% endif %}
                      {% endfor %}
                    </tr>
                  </table>
                </div>
                <!-- class row2 for cards -->
                <div class="row d-flex justify-content-center mb-3">
                {% for subject in standards.subjects.all %}
                  <div class="card mb-5 mr-4 ml-4 box-shadow-hover" style="max-width: 500px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                          <img src="{{subject.image.url|default_if_none:'#'}}" class="card-img" alt="No image found" height="200px" width="200px">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                              <h4 class="card-title" style="black;">{{subject.name}}</h4>
                              <p class="card-text">{{subject.description|truncatechars:75}}</p>
                              <p class="card-text"><small class="text-muted"></small></p>
                              <a href="{% url 'curriculum:lesson_list' slug=subject.slug standard=standards.slug %}"><button class="button-les"> <span> Ver Temas </span></button>
                              </a>
                              <a type="button" class=" navbar-brand  color_encabezado"  data-bs-toggle="modal" data-bs-target="#staticBackdrop{{subject.id}}"><button class="button-les"> <span> Ver horarios </span></button>
                              </a>





                              {% comment %} <a type="button" class=" navbar-brand  color_encabezado"  data-bs-toggle="modal" data-bs-target="#staticBackdrop{{subject.name}}">
                                <img class="logos-nav" src='https://c0.klipartz.com/pngpicture/831/88/gratis-png-perfil-de-usuario-iconos-de-la-computadora-interfaz-de-usuario-mistica.png' alt="perfil">
                                <p style="text-align: center;">Horario</p>
                              </a>  {% endcomment %}
                          </div>

                        </div>
                    </div>
                  </div>
                  <div style="width: 7%;"></div>
                {% endfor %}
                </div>
  </section>

  {% for subject in standards.subjects.all %}
    <div class=" modal-dialog modal-l modal fade modal-dialog modal-dialog-centered modal-dialog-scrollable " id="staticBackdrop{{subject.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-primary-subtle">
            <h1 class="modal-title fs-5" style="color:black ;" id="staticBackdropLabel">Mis horarios</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body bg-warning-subtle">
    
            <div class="d-flex col align-items-center justify-content-center mr-10">

              <div >
                   
               
             
              </div>
              
            </div>
      
              <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center"> 
                <span><i class="fa fa-twitter"></i></span> 
                <span><i class="fa fa-facebook-f"></i></span> 
                <span><i class="fa fa-instagram"></i></span> 
                <span><i class="fa fa-linkedin"></i></span> 
              </div> 
      
            </div>
          </div>
          <div class="modal-footer">
            {% comment %} <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Understood</button> {% endcomment %}
        
    
        
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  {% for subject in standards.subjects.all %}
    <h1>aa</h1>
{% endfor %} 
  {%endblock%}
