{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Eliminar Capitulo {% endblock %}

{% block image_block %}
<header class="" style="height: 30vh;">
  <div id="" class=" ">
    {% comment %} <div class="row d-flex justify-content-center text-center">
      <div class="col-md-10 text-white">
        
        <h2 class="display-4 font-weight-bold  p-5 " style="color:#ff5722;" > Eliminar Capitulo </h2>
        <div class="row d-flex justify-content-center text-center">
          <ul class="breadcrumb">
            <li><a href="{% url 'index' %}">Inicio</a></li>
            <li><a href="{% url 'curriculum:standard_list' %}">Curriculum</a></li>
            <li><a href="{% url 'curriculum:subject_list' slug=lessons.Standard.slug %}">{{lessons.Standard.name}}</a></li>
            <li><a href="{% url 'curriculum:lesson_list' standard=lessons.Standard.slug slug=lessons.subject.slug %}">{{lessons.subject.name}}</a></li>
            <li><a href="{% url 'curriculum:lesson_detail' standard=lessons.Standard.slug subject=lessons.subject.slug slug=lessons.slug %}">{{lessons.name}}</a></li>
            <li class="disabled-text" >Eliminar Capitulo</li>
          </ul>
        </div>

        
        

        
        <h4 class="white-text my-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Deleniti
                  consequuntur.</h4>
      </div>
    </div>  {% endcomment %}
  </div>
</header>
{% endblock %}



{% block content %}
<div style="height: 40.5vh;margin-bottom: 4rem;">

  <section id="best-features" class="text-center">
                <h2 class="mb-3 font-weight-bold" style="color:black;">Eliminar el usuario {{usuario.user.username}}</h2>

  </section>
  <div class="d-flex justify-content-center">
    <img  style="width: 11%;"src="https://cdn.pixabay.com/photo/2022/07/06/10/28/sign-7304817_960_720.png" alt="">
  </div>

  <h3 class="mb-4 text-center" style="color:black;">¿Desea eliminar el usuario {{usuario.user.username}} ?</h3>
  <div class="d-flex justify-content-center ">
    <form id="formularioUsuarios2" method="POST" action="/curriculum/list/users/delete/views/user/" >
      {% csrf_token %}
      <div class="row d-flex justify-content-between">
            <div class="col-md-4 mb-3 mr-3">
                    <input type="submit" value="Aceptar" class="btn btn-danger btn-block">
            </div>
            <input style="width: 10%; display: none;" type="text" id="id" name="id" value="{{usuario.id}}">
            <div class="col-md-4 mb-3 mr-3">
                    <a href="{% url 'curriculum:users_list' %}" class="btn btn-info btn-block">Cancelar</a>
                    <input type="hidden" name="next" value="/curriculum/usuarios">   
            </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
