{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Actualizar capitulo {% endblock %}
{% load operation %}
{% block image_block %}
{% comment %} <header class="info-header">
  <div id="page-intro" class="container-fluid d-flex align-items-center justify-content-center ">
  </div>
</header> {% endcomment %}
{% endblock %}

{% block content %}

  <div class="user-update-view row d-flex justify-content-center mb-2">
    <div style="width: 90%;" class="d-flex justify-content-start">

    </div>
  </div> 
  
  <div style="width: 100%;">
    <h2 class="mb-2 font-weight-bold text-center" style="font-size: 3rem;">Actualizar datos del usuario {{usuario.user.username}}</h2>
  </div>
  <div class=" d-flex row justify-content-center mb-5  align-content-center">
    {% comment %} <section id="best-features" class="text-center d-flex row justify-content-center" >
                  
    </section> {% endcomment %}
    <form id="formularioUsuarios" method="POST" action="/curriculum/list/users/edit/view/"  class="actualizar-capitulo actualizar-formulario-usuarios" enctype="multipart/form-data">
      <p class="mt-2"></p>
      {% comment %} {{form|crispy}}
      {{form2|crispy}}  {% endcomment %}
      <div style="display: flex;flex-direction: column;">
            {% csrf_token %}
            <input type="hidden" id ="id" name="id" value="{{usuario.id}}">
            {% comment %} <input type="text" name="id" value="{{usuario.user.id}}">
            <input type="text" name="id" value="{{usuario.id}}"> {% endcomment %}
            <div class="form-group">
                <label for="">usuario</label><input type="text" id="username" name="username" value="{{usuario.user.username}}">
            </div>
            <div class="form-group">
                <label for="">nombres</label><input style="width: 100%;" type="text" id="first_name" name="first_name" value="{{usuario.user.first_name}}">
            </div>       
            <div class="form-group">
                <label for="">apellidos</label><input type="text"  id="last_name" name="last_name"  value="{{usuario.user.last_name}}">
            </div>       
            <div class="form-group">
                <label for="">email</label><input type="text" id="email" name="email" value="{{usuario.user.email}}">    
            </div>       
            <div class="form-group">                
                {% comment %} <label for="">detalles</label><textarea  id="bio" name="bio"  cols="30" rows="6" >{{usuario.bio}}</textarea> {% endcomment %}
                <label for="">Nivel</label><br>
                <select id="bio" name="bio"  style="width: 30%;" >
                  <option value="{{usuario.bio}}" selected >area actual : {{usuario.bio|formatoArea}}</option>
                  <option value="1">Ingenieria</option>
                  <option value="2" >Humanidades</option>                
                  <option value="3" >Medicina</option>                
                  <option value="4" >Ciencias economicas</option>                
                  <option value="5">Militar</option>                
                </select>
            </div> 

            <div  class="form-group" >
              <label for="">imagen</label>   <input type="file"  name="profile_pic"  id="profile_pic" width="100"  height="100" accept="image/*" >
            </div> 
            <br>
            <div class="d-flex">
              <div style="width: 50%;">
                <p>imagen actual:</p>
                <img  id='fake' name='fake' src="../../../../../../media/{{usuario.profile_pic}}" alt="" style="width: 100px;height: 100px;">
              </div>
             
              <div style="width: 50%;">  
                <p>imagen nueva:</p>
                <output  style="width: 20px;height: 20px; margin-top: -8px;" id="list"></output>
              </div>   
              <div style="height: 80px;"></div>
            </div>

                      
            <label for="">Tipo de usuario</label>
            <select name="user_type" id="user_type" style="width: 35%;" >
                <option value="{{usuario.user_type}}" selected>valor actual : {{usuario.user_type|renombrar}}</option>
                <option value="teacher">profesor</option>
                <option value="student" >estudiante</option>                
            </select>
        </div>
        
      <div class="d-flex col  justify-content-center mt-4">
        
        <div class="form-group d-flex ">
            <input style="width:50%;" type="submit" value="Actualizar" class="btn btn-success btn-block" >
         
            <span style="width: 40%;"></span> 
            <a href="{% url 'curriculum:users_list' %}" class="btn btn-danger btn-block" style="width:50%;">Cancelar</a> 
            <input type="hidden" name="next" value="/curriculum/usuarios">                    
                        
        </div>
        
      </div>
      
    </form>
    <script>
        function archivo(evt) {
            var files = evt.target.files; // FileList object
       
            // Obtenemos la imagen del campo "file".
            for (var i = 0, f; f = files[i]; i++) {
              //Solo admitimos imágenes.
              if (!f.type.match('image.*')) {
                  continue;
              }
       
              var reader = new FileReader();
       
              reader.onload = (function(theFile) {
                  return function(e) {
                    // Insertamos la imagen
                   document.getElementById("list").innerHTML = ['<img class="thumb" src="', e.target.result,'" title="', escape(theFile.name), '"/>'].join('');
                  };
              })(f);
       
              reader.readAsDataURL(f);
            }
        }
       
        document.getElementById('profile_pic').addEventListener('change', archivo, false);
    </script>
  </div>
{% endblock %}
