{% extends 'base.html'  %}
{% load static %}
{%block title %}Inicio{% endblock%}

{% block image_block%}
  <link rel="stylesheet" href="{% static 'css/secundary_style.css' %}">
  <header>          
    <div id="intro" class="container-fluid d-flex align-items-center justify-content-center " style="
     background-color: rgb(222, 228, 214);">
      
      <div class="row d-flex justify-content-center text-center" style="width: 65%; justify-self: center;align-self: center;">

        <div id="carouselExample" class="carousel slide carrusel-index" style=" margin-left:0px;width: 100%;">
            <h1 >Bienvenidos estudiantes</h1>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img style="width:100%;"src="https://www.sneakerlost.es/hubfs/Las-universidades-se-adaptan-a-las-necesidades-02.png" class="d-block " alt="nueva imagen2">
              <p >Educacion en todo momento para nuestros estudiantes en todos los niveles</p>
            </div>
            <div class="carousel-item">
              <img style="width:100%;"src="https://www.sneakerlost.es/hubfs/Como-atraer-y-retener-alumnos-extranjeros-01.png?noresize" class="d-block " alt="nueva imagen2">
              <p >Educacion en todo momento para nuestros estudiantes en todos los niveles</p>
            </div>
            <div class="carousel-item">
              <img style="width:100%;"src="https://www.sneakerlost.es/hubfs/5-ejemplos-de-como-fijar-los-objetivos-SMART-02.png" class="d-block " alt="nueva imagen2">
              <p >Educacion en todo momento para nuestros estudiantes en todos los niveles</p>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>                           
    </div>

    
    
  </header>
{%endblock%}

{% block content %}
  <div class="container-fluid d-flex justify-content-center mision-vision " style="width: 100%;">
    <div style="width: 75%;"class="d-flex flex-column justtify-content-center mb-4">
      <div class="text-center ">
        <br>
        <h2 style="color:black">Conocenenos mas</h2>
        <br>
      </div>
      <div class="row ">
        <div class="col-sm-4 ">
          <div class="panel panel-default text-center">
            <div class="panel-heading  ">
              <h1>Sobre nosotros</h1>
            </div>
            <div class="panel-body mb-4">
              <p class="anuncios-mision-vision"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. At expedita in iste, possimus rerum magnam maiores, omnis inventore cum doloribus ut qui tempora minima modi alias praesentium aliquam dolore consequatur?</p>
              <img src="https://www.cecare.com.mx/img/iphone62.png" alt="" style="width: 300px;height: 300px; border-radius: 1000px;">
            </div>
            <div class="panel-footer">
    
              
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="panel panel-default text-center">
            <div class="panel-heading  ">
              <h1>Mision y Vision</h1>
            </div>
            <div class="panel-body mb-4">
              <p class="anuncios-mision-vision"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea soluta magni cumque voluptates aliquid non? Vel a cumque numquam laborum minus! Commodi itaque rerum voluptas aut quae illo inventore corporis.</p>
              <img src="https://www.cecare.com.mx/img/iphone62.png" alt="" style="width: 300px;height: 300px; border-radius: 1000px;">
            </div>
            <div class="panel-footer">
    
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="panel panel-default text-center">
            <div class="panel-heading  ">
              <h1>Nuestros valores</h1>
            </div>
            <div class="panel-body mb-4">
              <p class="anuncios-mision-vision"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum deleniti corporis ab cum alias officia fugit exercitationem modi a vitae sit quos ipsa enim, qui quia. Perspiciatis sint assumenda obcaecati.kkkjjjjjjjjjjj</p>
              <img src="https://www.cecare.com.mx/img/iphone62.png" alt="" style="width: 300px;height: 300px; border-radius: 1000px;">
            </div>
            <div class="panel-footer">
              
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
{%endblock%}
